@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --color-brand-orange: #DC2626;
  --color-brand-dark: #0f0a07;
  --color-brand-card: #1c1612;
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}